.VPButton {
  border-radius: 0.4rem !important;
  line-height: 1.5 !important;
  padding: 0.375rem 1.5rem !important;
  width: 100%;
}

figcaption {
  text-align: center;
  margin-top: 0.5rem;
  color: var(--vp-c-text-2);
  font-size: 0.8rem;
}

.footnotes-sep {
  margin-top: 5rem !important;
}

.footnotes-list {
  color: var(--vp-c-text-2);
}

.footnotes-list p {
  line-height: normal;
  margin: 1px;
  font-size: 0.8rem;
}

.vp-doc iframe {
  width: 100%;
  height: 400px;
}

.vp-doc audio {
  width: 100%;
}

.vp-doc img {
  margin: 0 auto;
}
