:root {
  --vp-c-brand-1: var(--vp-c-green-1);
  --vp-c-brand-2: var(--vp-c-green-2);
  --vp-c-brand-3: var(--vp-c-green-3);
  --vp-c-brand-soft: var(--vp-c-green-soft);
  --vp-c-brand: var(--vp-c-brand-1);

  --vp-c-green-1: #29784c;
  --vp-c-green-2: #277148;
  --vp-c-green-3: #2e8555;
}

.dark {
  --vp-c-green-1: #1fa588;
  --vp-c-green-2: #21af90;
  --vp-c-green-3: #25c2a0;
  --vp-c-green-soft: rgba(16, 185, 129, 0.16);

  --vp-button-brand-text: var(--vp-c-black);
  --vp-button-brand-hover-text: var(--vp-c-black);
  --vp-button-brand-active-text: var(--vp-c-black);
}

.vp-doc.container {
  padding: 0;
  margin: 0;
  max-width: none;
}
