name: ZHLint Check

on:
  push:
  pull_request:

jobs:
  zhlint-check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: corepack enable && yarn install

      - name: ZHLint Check
        run: yarn run docs:lint
